<hr>
<% unless @completed.empty? %>
<% @completed.each do |date, event| %>
<b><%= l date, :format => :long %></b>
<hr>
<% event.each do |e| %>
<div class='row-fluid'>
<div class='span4'>
<%= link_to "#{e.sport.name} #{t(e.mode)}", e, :class => 'link_mid'%></br>
<b><%= l e.start_at.in_time_zone(e.city.zone), :format => :short %>,
<%= e.location.name %></b>
</div>
<div class='span2'>
<h6><%= t('attendees')%>:</h6>
</div>
<div class='span6'>
<%= render 'events/participants', :event => e %>
</div>
</div>
<hr>
<% end %>
<% end %>
<% else %>
<%= t('no_last')%>
<% end %>