<hr>
<% unless @completed.empty? %>
<% @completed.each do |date, event| %>
<b><%= l date, :format => :long %></b>
<hr>
<% event.each do |e| %>
<div class='row-fluid'>
<div class='span5'>
<%= link_to "#{e.sport.name} #{t(e.mode)}", e, :class => 'link_mid'%></br>
<b><%= l e.start_at.in_time_zone(e.location.timezone), :format => :short %>,
<%= e.location.name %></b>
</div>
<% unless e.rating_complete?(current_user)%>
<div class='span3'>
<%= button_to "Rate Sportsfriends", feedback_path(:event_id => e.id), :method => "post", :class => 'b_rate' %>
</div>
<%end%>
</div>
<hr>
<% end %>
<% end %>
<% else %>
<%= t('no_last')%>
<% end %>