<%= render 'headers/setup_event'%>
<%= simple_form_for(@event) do |f| %>
<div style='margin-top:5px'>
<%= f.error_notification %>
</div>
<% end %>
<div class='row-fluid'>
<div class='span6'>

<% if current_user.pointers.where(cat_id: 1).empty? %>
<div class='blue_box'>
<div class='frame'>
<span class='black_18' style='margin: 10px 10px 0 0'><%= t('pointer_header')%></span> 
<%= link_to t('dont_show'), pointer_path(:cat_id => 1), :class => 'link_min' %></br>
<%= t('.pointer')%>
</div>
</div>
<%end%>

<div class='frame'>	
<h5><%= t('sport')%> & 
<%if @event.sport_id == 4%> <%= t('meeting_point')%>
<%else%> <%= t('location')%>
<%end%>
</h5> 
<%= form_tag( new_event_path, :method => "get") do %>

<div class='row-fluid'>
<div class='span3'>
<label><%= t('sport')%></label>
</div>
<div class='span9'>
 <%= select_tag :sport_id, options_from_collection_for_select(current_user.rated, 'id', 'name', @event.sport.id), :onchange => 'this.form.submit()'%>
</div>
</div> <!--! end of #row-fluid -->
<%end%>

<%= simple_form_for(@event, :html => {:class => 'form-horizontal' }) do |f| %>
<%= f.hidden_field :city_id %>
<%= f.hidden_field :sport_id %>
<%if @event.sport_id == 4%>
<%= f.input :location_search, :label => false, :placeholder => t('.choose_meeting'), input_html: {style: 'width:400px'} %>
<%else%>
<%= f.input :location_search, :label => false, :placeholder => t('.choose_location'), input_html: {style: 'width:400px'} %>
<%end%>
<%= f.hidden_field :loc_name %>
<%= f.hidden_field :loc_reference %>
<%= f.hidden_field :loc_id %>
<%= f.hidden_field :loc_lat %>
<%= f.hidden_field :loc_lng %>
<%= render partial: "locations/location_autocomplete" %>
</div>

<div class='simple_form form-horizontal'>

<div class='blue_box'>
<div class='frame'>
<h5><%= t('.mode_gender')%></h5>
<%= f.input :mode, :label => t('mode'), collection: [[t("game"),'game'],[t("training"), 'training'],[t("trai_game"),'trai_game'],  [t("social"),'social']], :prompt => t('choose'), :required => true%>
<%= f.input :gender, :label => t('gender'), collection: [[t("mixed"), 'mixed'],[t('fem_only'), 'female'], [t('mal_only'), 'male']], :prompt => t('choose'), :required => true %>
</div>
</div>

<div class='frame'>
<h5><%= t('add_info')%></h5>
<%= f.input :info, :label => false, input_html: {style: 'height:100px; width:300px'} %>
</div>



</div> <!--! end of #simple_form form-horizontal'> -->
</div> <!--! end of #span6 -->

<div class='span6'>
<div class='simple_form form-horizontal'>

<div class='blue_box'>
  <div class='frame'>
	<h5><%= t('.date_time')%></h5>
	<%= f.input :date, :label => false, input_html: {style: 'width:75px'}%>



	<%= f.input :hour_start, label: t('start_time'), input_html: {class: 'span12'}, wrapper_html: {class: 'controls controls-row'} do %>
	      <% if I18n.locale.to_s == 'en' %>
		  <%= f.input_field :hour_start, :collection => Event::HOURS_EN, :selected => (@event.hour_start or '01'), :class => 'span2' %>
		  <% else %>
		  <%= f.input_field :hour_start, :collection => Event::HOURS, :selected => (@event.hour_start or '00'), :class => 'span2' %>
	      <% end %>
		  <%= f.label :min_start, label: ":", class: 'seperator'%>
		  <%= f.input_field :min_start, :collection => Event::MINUTES, :selected => (@event.min_start or '00'), :class => 'span2' %>
		  <% if I18n.locale.to_s == 'en' %>
		  <%= f.input_field :am_pm_start, :collection => ['AM','PM'], :selected => @event.am_pm_start, :class => 'span2' %>
	      <% end %>
	<% end %>

	<%= f.input :hour_fin, label: t('fin_time'), input_html: {class: 'span12'}, wrapper_html: {class: 'controls controls-row'} do %>
		  <% if I18n.locale.to_s == 'en' %>
		  <%= f.input_field :hour_fin, :collection => Event::HOURS_EN, :selected => (@event.hour_fin or '01'), :class => 'span2' %>
		  <% else %>
		  <%= f.input_field :hour_fin, :collection => Event::HOURS, :selected => (@event.hour_fin or '00'), :class => 'span2' %>
	      <% end %>
		  <%= f.label :min_fin, label: ":", class: 'seperator'%>
		  <%= f.input_field :min_fin, :collection => Event::MINUTES, :selected => (@event.min_fin or '00'), :class => 'span2' %>
		  <% if I18n.locale.to_s == 'en' %>
		  <%= f.input_field :am_pm_fin, :collection => ['AM','PM'], :selected => @event.am_pm_fin, :class => 'span2' %>
		  <% end %>
	<% end %>
	<%= f.input :repeat, as: :boolean, :inline_label => t('.repeat'), :label => false%>
	<div id='rep_fields'>
	<%= f.input :rep_every, :label => t('.every'), collection: [[t("1week"), '7'],[t("2week"),'14'], [t("3week"),'21'], [t("4week"),'28']], include_blank: false, input_html: {style: 'width:90px'} %>
	<%= f.input :rep_end, :label => t('.until'), input_html: {style: 'width:75px'}%>
	</div>
  </div>
</div>
	
<div class='frame'>
<h5><%= t('skill_range')%></h5>
<%= f.input :skill_from, :label => t('low_end'), collection: (1..10), include_blank: false, input_html: {style: 'width:60px'}%>
<%= f.input :skill_to, :label => t('high_end'), collection: (1..10), :selected => (@event.skill_to or 10), include_blank: false, input_html: {style: 'width:60px'} %>
</div>

<div class='blue_box'>
<div class='frame'>
<h5><%= t('age_range')%></h5>
<%= f.input :age_from, :label => t('low_end'), collection: (16..100), include_blank: false, input_html: {style: 'width:60px'}%>
<%= f.input :age_to, :label => t('high_end'), collection: (16..100), :selected => (@event.age_to or 100), include_blank: false, input_html: {style: 'width:60px'} %>
</div>
</div>

<div class='frame'>
<div class='black_18' style='margin: 10px 0 0 0'><%= t('max_att')%></div>
<div class='grey_15' style='padding: 0 0 15px 0'><%= t('.incl_org')%></div>
<%= f.input :max_part, :label => false, collection: (2..25), prompt: t('choose'), input_html: {style: 'width:85px'}%>
</div>
	
<div class='blue_box'>
<div class='frame'>
<h5><%= t('.invite')%></h5>
<%= f.label :group_id, 'My Sportsfriends'%>
<% if current_user.groups.empty?%>
<%=t('.no_sf')%><%=link_to 'My Sportsfriends', mysportsfriends_path, :class => 'link_normal'%></br></br>
<% else%>
<%= f.input :group_id, :label => false, collection: current_user.groups, include_blank: true, input_html: {style: 'width:315px'}%>
<% end %>
<%= f.label :emails, t('.by_email')%>
<%= f.input :emails, :label => false, input_html: {style: ' width:300px'} %>
<%= f.input :private, as: :boolean, inline_label: t('.private'), label: false %>
</div>
</div>
</div>

<hr>
 <%= f.button :submit, t('.submit'), :class => 'btn-large btn-inverse' %>
<% end %>
</div> <!--! end of form-horizontal -->
</div> <!--! end of #span6 -->
</div> </div> <!--! end of row top level -->
