<div class ='frame'>
<div class='sb_event_wrapper'>
<%= form_tag(search_path, :method => "get") do %>
<span class='sb_text'><%=t('find')%></span>
<%= select_tag :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name', (params[:sport_id] or current_user.sport_id))%>
<span class='sb_text'>in</span>
<%= text_field_tag(:location_search , (params[:location_search]), :placeholder => t('city_name'), :size => 10)  %>
<%= hidden_field_tag(:lat, params[:lat]) %> <%= hidden_field_tag(:lng, params[:lng]) %>
<%= submit_tag(t('search'), class: 'b_search') %> 
<% end %>
</div>
<hr>
<% if @event_results.nil? or @event_results.empty?%>
<%=t('.no_result')%> <%=link_to t('.own_event'), new_event_path, :class => 'link_normal'%><%=t('.signed_in')%>
<hr>
<% else%>
<%= render :partial => 'paginate/event_result', :collection => @event_results %>
<%= will_paginate @event_results, :renderer => BootstrapPagination::Rails %>
<% end %>
</div>
<%= render partial: "pages/places_autocomplete" %>