<%= form_tag(search_path, :method => "get") do %>
<div class ='frame'>
<div class='sb_wrapper'>
<span class='sb_text'>Find</span>
<%= select_tag :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name', (params[:sport_id] or current_user.sport_id))%>
<span class='sb_text'>in</span>
<%= text_field_tag(:search_city , (params[:search_city] or current_user.city.full_name), :class => 'ui-autocomplete-input', data: {autocomplete_source: cities_path}, :size => 10)  %>
<!-- <%= select_tag(:radius, options_for_select([10,25,40,50,100,200], params[:radius])) %> 
<%= select_tag(:units, options_for_select(['km','mi'], params[:units])) %> -->
<%= submit_tag(t('search'), class: 'b_search') %> 
<% end %>
</div>
<hr>
<% unless @event_results.nil?%>
<% if @event_results.empty?%>
<%=t('.no_result')%>
<hr>
<% else%>
<%= render :partial => 'paginate/event_result', :collection => @event_results %>
<%= will_paginate @event_results, :renderer => BootstrapPagination::Rails %>
<% end %>
<% end %>
<div>