<%= render 'headers/detail_event'%>
<div class='row-fluid'>
<div class='span6'>
<div class='frame'>
<div class='grey_23' style='margin-top: 10px'><%= @event.sport.name%> <%= t(@event.mode)%></div>
<b><div style='margin-top:5px'><%= l @event.start_at.to_date, :format => :long %>, <%= l @event.start_at.in_time_zone(@event.city.zone), :format => :short %>
 - <%= l @event.finish_at.in_time_zone(@event.city.zone), :format => :short %></div></b>
</div>

<div class='blue_box'>
<div class='frame'>
<div class='event_title'><%= t('add_info')%></div>
<%= simple_format(@event.info) %>
</div>
</div>

<div class='frame'>
<div class='event_title'><%= t('.can_join')%></div>
<b><%= t('gender')%>:</b> <%= t(@event.gender)%></br>
<b><%= t('skill_range')%>:</b> <%= @event.skill_from %> - <%= @event.skill_to %></br>
<b><%= t('age_range')%>:</b> <%= @event.age_from %> - <%= @event.age_to %></br>
</div>

<div class='blue_box'>
<div class='frame'>
<div class='event_title'><%= t('location')%></div>
<b><%= @event.location.name%></br>
<%= @event.location.address%></br>
<%= @event.location.city.full_name%></br>
<% if @event.location.telephone?%>
<%= @event.location.telephone%></br>
<%end%></b>
<% if @event.location.website?%>
<%= link_to @event.location.website, @event.location.website, :target => "_blank", :class => 'link_normal' %></br>
<%end%>

<%= gmaps({
  "map_options" => {"auto_adjust" => true, "auto_zoom" => false, "zoom" => 13 },
  "markers"     => {"data" => @location } })%>
</div>
</div>
</div><!--! end of #span6 -->

<div class='span6'>
<div class='frame'>
<% if (signed_in? and current_user.participate?(@event.id)) %>
 <div class='red_23' style='margin: 10px 0 10px 0'>
   <% if current_user != @event.organizer.user%>
   <%=t('.signed') %>
   <%else%>
   <%=t('.you_organizer') %>
   <%end%>
 </div>
<% else %>
<div class='red_23' style='margin: 10px 0 10px 0'><%=t('.spot', :count => @event.spots_left) %></div>
<% end %>

<% if (signed_in? and not current_user.participate?(@event.id))%>
<%= form_for current_user.participants.build(:event_id => @event.id) do |f| %>
<%= f.hidden_field :event_id %>
<%= f.submit(t('.join'), :class => 'b_sign_up') %>
<% end %>
<% end %>

<% if not signed_in?%>
<%= button_to t('.sign_up'), new_user_registration_path(:from_event => 'true') , :class => 'b_sign_up', :method => :get%>
<% end %>

<% if (signed_in? and  current_user.participate?(@event.id) and current_user != @event.organizer.user)%>
<%= form_for current_user.participants.find_by_event_id(@event.id),
   :html => { :method => :delete } do |f| %>
<%= f.hidden_field :event_id %>
<%= f.submit(t('.unjoin'), :class => 'b_unsign') %>
<% end %>
<% end %>


<% if (signed_in? and current_user == @event.organizer.user)%>
<a href="#cancel_event" role="button" class="btn btn-danger" data-toggle="modal"><%=t('.cancel')%></a>

<div id="cancel_event" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel"><%=t('.cancel')%></h3>
</div>
<div class="modal-body">
<b><%=t('.provide_reason')%></b></br></br>
  <%= form_for(@event) do |f| %>
  <div style='margin-left:20px'>
	<%= f.text_area(:creason, :class => 'input-xlarge', :rows => 4 )%>
	<%= f.hidden_field :cancelled , :value => true %>
  </div>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <%= f.submit t('.cancel'),  :class => "btn btn-danger"%> 
</div>
<% end %>
</div>
<% end %>

</div>


<div class='blue_box'>
<div class='frame'>
<div class='event_title'><%= t('.organizer')%>:</div>
<div class='row-fluid'>
<div class='span2'>
<%= picture_for(@event.organizer.user)%>
</div>
<div class='span10'>
<div style='margin-top: 7px'>
<%= link_to @event.organizer.user.full_name, @event.organizer.user, :class => 'link_normal'%></br>
<%= @event.sport.name %> <%=t('skill_level')%>: <%= @event.organizer.user.last_stat(@event.sport_id).total_skill.round(1) %>
</div>
</div>
</div> <!--! end of row lower level-->
</div>
</div>

<div class='frame'>
<div class='event_title'><%= t('attendees')%>(<%=@event.participants.count%>)</div>
<%= render 'events/participants', :event => @event %>
</div>

<div class='blue_box'>
<% unless @post_items.empty? %>
<div class='frame'>
<div class='event_title'><%= t('.comments')%></div>
<%= render :partial => 'paginate/post_item', :collection => @post_items %>
<%= will_paginate @post_items, :renderer => BootstrapPagination::Rails %>
</div>
<% end %>
</div>
<% if signed_in? %>	
<div class='frame'>
<div class='event_title'><%= t('.post')%></div>
<%= simple_form_for(current_user.event_posts.build(:event_id => @event.id), :html => {:class => 'form-horizontal'}) do |f| %>
   <%= f.input :content, :label => false, input_html: {style: 'width:400px'} %>
   <%= f.hidden_field :event_id %>
   <%= f.button :submit, t('.submit'), :class => 'btn btn-inverse' %>
<% end %>
</div>	
<% end %>
</div><!--! end of #span6 -->
</div> <!--! end of row top level -->	