<p id="notice"><%= notice %></p>

<p>
  <b>Sport:</b>
  <%= @event.sport_id %>
</p>

<p>
  <b>City:</b>
  <%= @event.city_id %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location_id %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>Finish at:</b>
  <%= @event.finish_at %>
</p>

<p>
  <b>Type:</b>
  <%= @event.type_id %>
</p>

<p>
  <b>Mode:</b>
  <%= @event.mode %>
</p>

<p>
  <b>Gender:</b>
  <%= @event.gender %>
</p>

<p>
  <b>Info:</b>
  <%= @event.info %>
</p>

<p>
  <b>Skill from:</b>
  <%= @event.skill_from %>
</p>

<p>
  <b>Skill to:</b>
  <%= @event.skill_to %>
</p>

<p>
  <b>Age from:</b>
  <%= @event.age_from %>
</p>

<p>
  <b>Age to:</b>
  <%= @event.age_to %>
</p>

<p>
  <b>Max part:</b>
  <%= @event.max_part %>
</p>

<p>
  <b>Group:</b>
  <%= @event.group_id %>
</p>

<p>
  <b>Private:</b>
  <%= @event.private %>
</p>

<p>
  <b>Cancelled:</b>
  <%= @event.cancelled %>
</p>

<p>
  <b>Creason:</b>
  <%= @event.creason %>
</p>

<p>
  <b>Emails:</b>
  <%= @event.emails %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
