<%= content_tag "div", id: "assessments", data: {assessments: @sport.assessments.order(:level), count: @sport.catcount } do %>
<%= javascript_include_tag 'rating' %>
<% end %>

<% if current_user.profile_complete? %>
<div class='subheader_wrapper'><h4 class='subheader_inner'><%= t('.header2') %></h4></div>
<hr>
<div class='left10px'>
<%=t('.choose')%>
<div style='padding:10px 0 0 0'>
<%= form_tag( newsport_path, :method => "get") do %>
 <%= select_tag(:sport_id, options_from_collection_for_select(current_user.not_rated, 'id', 'name', params[:sport_id] ), :onchange => 'this.form.submit()' )%>
<% end %>
</div>
</div>
<% else %>
<div class='subheader_wrapper'><h4 class='subheader_inner'><%= t('.header1') %></h4></div>
<hr>
<h4 class='left10px'><%= @sport.name%></h4>
<% end %>

<span class='left10px'><%=t('overall_rating')%>:</span> <span class='dred_18' id="rating"></span>
<hr>
<div class='left10px'>
<h5 class='dred_18'><%=t('.title')%></h5>
<%=t('.explanation')%>
<h5 class='black_18'><%=t('your_skills')%></h5>
</div>
<%= form_for(@rating) do |f| %>
<%= f.hidden_field :sport_id,  :value => @sport.id %>
<%= f.hidden_field :user_id,  :value => current_user.id %>
<% ["1","2","3","4","5"].each do |c| %>
<% unless @sport["cat#{c}"] == 'nil' %>
<div class='left10px'>
<div class='dred_18'><%= @sport["cat#{c}"]%></div>
<span class='dred_16'><%= t('skill_rating')%> <span id="rating<%=c%>"></span> <%= t('out_of')%></span>
<div class="row-fluid">
<div class='span1'>	
<%= f.select("cat#{c}", (1..5), {}, :style => "width:60px")%>
</div>
<div class='span11' id="assess_text<%=c%>"></div>
</div>
</div>
<hr>
<% end %>
<% end %>	

<div class="row-fluid">

<%= f.submit t('.save'), :class => 'pull-left btn-large btn-success', :confirm => t('.sure') %>
<% end %>
<% if current_user.profile_complete? %>
<%= button_to('CANCEL', mysports_path, :class => 'pull-right btn btn-large btn-danger', :method => :get) %>
<%end%>
</div>

