<div class='subheader_wrapper'><h4 class='subheader_inner'><%= t('.header') %></h4></div>
</br>
<div class="accordion" id="accordion1">
<% count = 0%>
<% current_user.rated.each do |s| %>
<% count += 1%>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%=s.id%>">
<h4><%=s.name%></h4>
</a>
</div>
<% if count==1%>
<div id="collapse<%=s.id%>" class="accordion-body collapse in">
<% else%>
<div id="collapse<%=s.id%>" class="accordion-body collapse">
<% end%>
<div class="accordion-inner">
<div class='left10px'>
<h5 class='black_18'><%=t('.current_ranking')%></h5>
<div class='dred_18'><%=current_user.city.name%>: #<%=current_user.ranking(s.id)%></div>
<div class='dred_18'><%=t(current_user.city.country)%>: #<%=current_user.country_ranking(s.id)%></div>
</div>
<hr>
<div class='left10px'>
<h5 class='black_18'><%=t('.current_change')%></h5>
<table class="table table-striped table-condensed" style='margin-top:15px'>
<tr style=='font-weight: bold'>
<th class='black_16'>Skill</th>
<th class='black_16'><%=t('current')%></th>
<th class='black_16'>1 <%=t('month' )%> </th>
<th class='black_16'>3 <%=t('months')%></th>
<th class='black_16'>1 <%=t('year')%></th>
</tr>
<% unless s["cat2"] == 'nil' %>
<% ["1","2","3","4","5"].each do |c| %>
<% unless s["cat#{c}"] == 'nil' %>
<tr class='dred_16'>
<td style='font-weight: bold'><%=t s["cat#{c}"]%></td>
<td><%= number_with_precision(current_user.last_stat(s.id)["cat#{c}"], :precision => 1, :locale => :en) %></td>
<td><%= current_user.progress(s.id,(c.to_i-1),1,'abs')%> (<%= current_user.progress(s.id,(c.to_i-1),1,'perc').round(0)%>%)</td>
<td><%= current_user.progress(s.id,(c.to_i-1),3,'abs')%> (<%= current_user.progress(s.id,(c.to_i-1),3,'perc').round(0)%>%)</td>
<td><%= current_user.progress(s.id,(c.to_i-1),11,'abs')%> (<%= current_user.progress(s.id,(c.to_i-1),11,'perc').round(0)%>%)</td>
</tr>
<%end%>
<%end%>
<%end%>
<tr class='dred_16' style='font-weight: bold'>
<td><%=t('overall')%></td>
<td><%= current_user.last_stat(s.id).total_skill.round(1)%></td>
<td><%= current_user.progress_total(s.id,1,'abs')%> (<%= current_user.progress_total(s.id,1,'perc').round(0)%>%)</td>
<td><%= current_user.progress_total(s.id,3,'abs')%> (<%= current_user.progress_total(s.id,3,'perc').round(0)%>%)</td>
<td><%= current_user.progress_total(s.id,11,'abs')%> (<%= current_user.progress_total(s.id,11,'perc').round(0)%>%)</td>
</tr>
</tr>
</table>
	<img src="<%= Gchart.line(
	              :size => '600x300',
	              :theme => :thirty7signals,
	              :data => current_user.chart_per_sport(s.id)[0],
	              :max_value => 10,
	#              :data => [[1, 1, 1, 2, 4, 3, 4, 5, 6, 6, 7, 6],
	#                       [1.2, 2.5, 2.7, 2.8, 2.9, 5, 4, 3, 7, 9, 9, 10], 
	#                       [5.2, 5.3, 5.6, 6.1, 6.9, 7, 7.1, 7.2, 7.4, 7.5, 7.6, 7.7], 
	#                       [6.2, 6.5, 5.8, 6.8, 6.9, 7, 8, 9, 10, 10, 10, 10],
	#                       [1.2, 3.5, 4.8, 6.8, 4.9, 4, 3, 2, 1, 1, 1, 1]],
	              :axis_with_labels => ['x', 'y'], 
	              :axis_labels => current_user.chart_per_sport(s.id)[1],
	              :axis_range => [nil, [0,10,1]],
	              :legend => current_user.chart_per_sport(s.id)[2]) %>">
</div>
</div>
</div>
</div>
<%end%>
</div> <!--! end of accordion1 -->
