<div class='subheader_wrapper'><h4 class='subheader_inner'><%= t('.header') %></h4></div>
</br>

<div class="tabbable"> <!-- Only required for left/right tabs -->

<ul class="nav nav-tabs" id='mysports_tab'>
	<% current_user.rated.each_with_index do |s,i| %>
	 <% if i == 0%>
	  <li class='active'>
	 <%else%>
   <li>
	<%end>%>
	<a href="#sport<%=s.id%>" data-toggle="tab"><h4><%=s.name%></h4></a></li>
    <% end%>
</ul>

<div class="tab-content">
  <% current_user.rated.each_with_index do |s,i| %>
 <% if i == 0%>
  <div class="tab-pane active" id="sport<%=s.id%>">
 <%else%>
  <div class="tab-pane" id="sport<%=s.id%>">
 <%end%>
	
<span class='left10px'><%=t('overall_rating')%>:</span> <span class='dred_15'> <%= current_user.last_stat(s.id).total_skill.round(1)%> </span>
<hr>
<div class='left10px'>
<h5 class='black_18'><%=t('your_skills')%></h5>
<% ["1","2","3","4","5"].each do |c| %>
<% unless s["cat#{c}"] == 'nil' %>
<div class='dred_18'><%=t s["cat#{c}"] %></div>
<div class='dred_16'><%= t('skill_rating')%>: <%= number_with_precision(current_user.last_stat(s.id)["cat#{c}"], :precision => 1, :locale => :en) %> <%= t('out_of')%></div>
<span class='black_15'><%= t('skill_mean')%></span> <span class='grey_15'><%= current_user.skill_text(s.id,c)%></span>
<hr>
<%end%>
<%end%>
</div> <!--! end of left 10px-->

</div> <!--! end of tab pane-->
<%end%>
</div> <!--! end of tab content-->

</div> <!--! tabbable class-->
<hr>
<div class='row-fluid'>
<% unless current_user.not_rated.empty? %>
<div class="span3">
<%= button_to(t('.add_sport'), newsport_path, :class => 'btn btn-large btn-success', :method => :get) %>
</div>
<div class="span1">
<h3 style="text-align:center;"><%= t('or')%></h3>
</div>
<%end%>
<div class="span6">
<% if session[:event_id] %>
<%= button_to(t('.join'), Event.find(session[:event_id]), :class => 'btn btn-large btn-success', :method => :get) %>
<% else %>
<%= button_to(t('.find'), search_path, :class => 'btn btn-large btn-success', :method => :get) %>
<% end %>
</div>


