<%= javascript_tag do %>
  window.searcheventURL = '<%= j search_path %>';
  window.neweventURL = '<%= j new_event_path %>';
<% end %>
<div class='row-fluid'>
<div class="i_dashboard pull-left">Dashboard</div><div class=" pull-right" id='host_event'><%=t('host')%></div><div class=" pull-right" id='search_event'><%=t('search')%> EVENTS</div>
</div>