<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Full name:</b>
  <%= @city.full_name %>
</p>

<p>
  <b>Country:</b>
  <%= @city.country %>
</p>

<p>
  <b>Zone:</b>
  <%= @city.zone %>
</p>

<p>
  <b>Lat:</b>
  <%= @city.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @city.lng %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
