<div class='row-fluid'>
<div class='span2'>
<%= picture_for(post_item.user)%>
</div>
<div class='span10'>
<div style='margin-top: 7px'>
<%= link_to post_item.user.full_name, post_item.user, :class => 'link_normal' %></br>
<%= @event.sport.name %> <%=t('skill_level')%>: <%= post_item.user.last_stat(@event.sport_id).total_skill %>
</div>
</div>
</div> <!--! end of row lower level-->
<div class='row-fluid' style='margin-top: 10px'>
<b> <%= post_item.content %></b>
<hr>
</div>