<div class='map_container'><div id="googlemap"></div></div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBpojyvnLaKPbl06Rcvpo20nBpFo1jLs0g&libraries=places&language=<%=I18n.locale.to_s%>" type="text/javascript"></script>

<script type="text/javascript">        
<!--

<% if @event.loc_lat.nil? or @event.loc_lat.empty?%>

// set user city as default
  var mylat = <%=current_user.lat%>;
  var mylng = <%=current_user.lng%>;
  var defaultZoom = 10;

<%else%>

  var mylat = <%=@event.loc_lat%>;
  var mylng = <%=@event.loc_lng%>;
  var defaultZoom = 15;

<%end%>

  var defaultImage = new google.maps.MarkerImage(
     "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
     new google.maps.Size(71, 71),
     new google.maps.Point(0, 0),
     new google.maps.Point(17, 34),
     new google.maps.Size(35, 35));

  // create map and add controls
  var mapOptions = {
    center: new google.maps.LatLng(mylat,mylng),
    zoom: defaultZoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    scaleControl: false
  };
  var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

        
  // set center point of map to be of the Marker or the Default City
  var centrePoint = new google.maps.LatLng(mylat, mylng);
  map.setCenter(centrePoint);
  map.setZoom(defaultZoom);
        
        // add a draggable marker
  marker = new google.maps.Marker({
    map: map,
    draggable: false,
    position: centrePoint
  });

  
  marker.setIcon(defaultImage);
        
  
        
        // create Info window for marker
  var infowindow = new google.maps.InfoWindow();

  // Address Autocomplete
  var input = document.getElementById('event_location_search');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);
  

  var place;
  var photos;


  // Autocomplete Listener
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    place = autocomplete.getPlace();
    document.getElementById("event_loc_name").value = place.name;
    document.getElementById("event_loc_reference").value = place.reference;
    document.getElementById("event_loc_id").value = place.id;
    document.getElementById("event_loc_lat").value = place.geometry.location.lat();
    document.getElementById("event_loc_lng").value = place.geometry.location.lng();
    marker.setPosition(place.geometry.location);
    map.panTo(place.geometry.location);
    map.setZoom(15);
    marker.setIcon(defaultImage);
    marker.setPosition(place.geometry.location);
    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + place.formatted_address);
    infowindow.open(map, marker);
  });
  

//-->
</script>


