	<div class='container'>
		<div class="carousel-caption">
		
		<div class='row-fluid'>
		 <div class='span7'>
		 <h1><%=t('home_header')%></h1>
		 <p class='h_subheader'><%=t('home_subheader')%></p>
		 </div>
		<div class='span5'></div>
		</div>
		
		<div class='row-fluid' style='margin-top:20px'>
		<div class=" pull-left" style='margin-top:3px'>
		 <div class='sb_event_wrapper'>
		 <%= form_tag(search_path, :method => "get") do %>
		 <span class='sb_text'><%=t('find')%></span>
		 <%= select_tag :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name')%>
		 <span class='sb_text'>in</span>
          <%= text_field_tag(:location_search , nil, :placeholder => t('city_name')) %>
         <%= submit_tag(t('search'), class: 'b_search') %>
		 <% end %>
		 </div>
		</div>
		 <div class=" pull-left" style='margin-left:15px'>
		 <%= button_to(t('join_free'), new_user_registration_path, :class => 'btn btn-large btn-success', :method => :get) %>
		 </div>
		</div>

	  </div>
</div>
