<%= javascript_tag do %>
  window.myeventsURL = '<%= j new_event_path %>';
  window.mysportsURL = '<%= j newsport_path %>';
  window.dashboardURL = '<%= j dashboard_path %>';
<% end %>

<%= picture_for(current_user)%>
</br>
</br>
<% if current_user.profile_complete? %>
<div class='<%= is_active?('dashboard')%>' id='dashboard'><%= link_to 'Dashboard', dashboard_path %></div>
<div class='<%= is_active?('my_events')%>' id='my_events'><%= link_to 'My Events', new_event_path %></div>
<div class='<%= is_active?('my_sports')%>' id='my_sports'><%= link_to 'My Sports', newsport_path %></div>
<% end %>