<%= javascript_tag do %>
  window.myeventsURL = '<%= j myevents_path %>';
  window.mysportsURL = '<%= j mysports_path %>';
  window.myprogressURL = '<%= j myprogress_path %>';
  window.dashboardURL = '<%= j dashboard_path %>';
<% end %>

<div style='margin-bottom: 10px'>
<%= picture_for(current_user)%>
</div>
<% if current_user.profile_complete? %>
<div class='<%= is_active?('dashboard')%>' id='dashboard'><div class='i_lhn_dashboard'>Dashboard</div></div>
<div class='<%= is_active?('my_sports')%>' id='my_sports'><div class='i_lhn_mysports'>My Sports</div></div>
<div class='<%= is_active?('my_events')%>' id='my_events'><div class='i_lhn_myevents'>My Events</div></div>
<div class='<%= is_active?('my_progress')%>' id='my_progress'><div class='i_lhn_myprogress'>My Progress</div></div>
<% end %>