<%= javascript_tag do %>
  window.myeventsURL = '<%= j myevents_path %>';
  window.mysportsURL = '<%= j mysports_path %>';
  window.dashboardURL = '<%= j dashboard_path %>';
<% end %>

<%= picture_for(current_user)%>
</br>
</br>
<% if current_user.profile_complete? %>
<div class='<%= is_active?('dashboard')%>' id='dashboard'>Dashboard</div>
<div class='<%= is_active?('my_sports')%>' id='my_sports'>My Sports</div>
<div class='<%= is_active?('my_events')%>' id='my_events'>My Events</div>
<% end %>