<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
  <title>Sportsfriender | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <%= yield(:head) %>
  <%= javascript_tag do %>
  window.date_format = '<%= j date_format[0] %>';
  <% end %>
</head>
 <body>
	<header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </nav>
    </header>
	  <div id="main" role="main">
	      <div class="container">
	           <div class="row-fluid">
		        <% if user_signed_in? and @no_lhn != true %>
		         <div class="span2">
			      <%= render 'layouts/lhn' %>	             
	            </div>
	            <% end %>
	            <div class='<%=@span%>'>
		           <% unless @header.nil? %>
			       <div class="header">
			         <%= render "headers/#{@header}"%>
			       </div>
			       <% end %>
			      <div class="content_frame">
	              <%= render 'layouts/messages' %>
	              <%= yield %>
	              </div> <!--! end of .content_frame-->
	            </div> <!--! end of .span10-->
	        </div> <!--! end of .row_nomargin-->
	      </div> <!--! end of .container-fluid -->
	    </div> <!--! end of #main -->
	    <footer>
		    <div class='footer'>
			 <div class='container'>
				<%= render 'layouts/footer'%>
			 </div>
			</div>
	        	<%= debug(params) if Rails.env.development? %>
	         <%= yield :scripts %>
          </footer>
	  </body>
</html>